@model IEnumerable<WebApp.Models.Shopping.OrderModel>

@{
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="container">
    <h4>Orders</h4><br />
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Status
            </th>
            <th>
                Order value
            </th>
            <th>
                Confirmed date
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.OrderId.ToString(), "OrderDetails", new { id = item.OrderId })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentOrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
            </tr>
        }

    </table>
</div>