@model List<int>

@{
    var member = WebApp.PublicUser.GetCurrentUser();
    var list = BusinessLayer.OrderHandler.GetOrderIds(member.MemberId);
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<div class="container">
    <h4>Orders</h4><br />
    @foreach (var id in list)
    {
        @Html.ActionLink("Show", "Orders", new { orderId = id });
    }
</div>
